<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Servlets_Simples_JMS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>InicioServlet</servlet-name>
    <servlet-class>com.acarballeira.ej1.InicioServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>AboutServlet</servlet-name>
    <servlet-class>com.acarballeira.ej1.AboutServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>ContactoServlet</servlet-name>
    <servlet-class>com.acarballeira.ej1.ContactoServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>BlogServlet</servlet-name>
    <servlet-class>com.acarballeira.ej1.BlogServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>InicioServlet</servlet-name>
    <url-pattern>/ej1/inicio</url-pattern>
    <url-pattern>/ej1/portada</url-pattern>
    <url-pattern>/ej1/index</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>AboutServlet</servlet-name>
    <url-pattern>/ej1/sobremi</url-pattern>
    <url-pattern>/ej1/about</url-pattern>
    <url-pattern>/ej1/info</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ContactoServlet</servlet-name>
    <url-pattern>/ej1/contacto</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>BlogServlet</servlet-name>
    <url-pattern>/ej1/blog</url-pattern>
    <url-pattern>/ej1/redes</url-pattern>
  </servlet-mapping>
  
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/errorpages/paginaError404.jsp</location>
  </error-page>
  
</web-app>