table {
	border-collapse: collapse;
}

table td, th {
	padding: 0.5rem;
	text-align: center;
	border: 2px solid #55C;
}

table tr.marcado {
	background-color: green;
}

table th {
	background-color: #ff0000;
	color: #FFF;
	font-weight: bold;
}

.nota {
	color: red;
	font-weight: bold;
}