html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 3.2rem;
}
#pe {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3.2rem; 
  line-height: 3.2rem; 
}
